.card-container{
    width: 90%;
    max-width: 750px;
    margin: 0 auto 100px auto;
    padding: 0 10px;
} .card-container h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    color: orange;
}

.cards{
    display: grid;
    width: 97%;
    grid-template-columns: repeat(3,1fr); 
    gap: 5%;
    justify-content: center;
    align-items: start;
}

.card{
    background: #450912;
    border-radius : 5%;
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
    transition: all 0.3s ease;
    animation: slideIn 0.5s ease forwards;
    opacity: 0;
    transform: translateX(-20px);
    width : 100%;
    height: 210px;
    padding: 10px;
    padding-top: 20px;
} @keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
} .card:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 10px orangered;
}

.card-image{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
} .card-image img {
    width: 100%;
    height: 100px;
    object-fit: contain;
}
.card-content{
    flex: 1;
    color: white;
    text-align: center;
}
.card-link{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #450912;
  color: orange;
  width: 50%;
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: clamp(0.7rem, 2vw, 0.85rem);
  text-overflow: ellipsis;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  transition: all 0.2s ease;
} .card-link:hover {
  box-shadow: 0 0 5px orangered;
  transform: translateY(-1px);
}
