.name {
    color: white;
    text-align:center;
}

.title {
    color: orange;
    text-align: center;
}

.bio {
    color:darkgrey;
}

.card {
    background-color: #450912;
    padding: 10px 30px;
    border-radius: 10px;
    width: 700px;
    transition: box-shadow 0.2s ease;
} .card:hover {
    box-shadow: 0 0 20px white;
}