.name {
    color: var(--text-primary);
    text-align: center;
    line-height:0px;
}

.title {
    color: var(--text-accent);
    text-align: center;
    line-height:0px;
}

.bio {
    color: var(--text-secondary);
    text-align: left;
    padding-top:1%;
}

.pfp {
    width: 175px;
    height: 175px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--text-accent);
    margin: auto auto;
}

.name-card {
    display:flex;
    flex-direction: column;
    gap: 0px;
    background-color: var(--primary-bg);
    padding: 30px;
    margin-top:100px;
    margin-bottom:100px;
    border-radius: 5%;
    max-width: 700px;
    width: 90%;
    transition: box-shadow 0.2s ease;
} .card:hover {
    box-shadow: 0 0 20px var(--accent-secondary);
}